<h1><div class="transbox">Add Translation</div></h1>

<p>
First select an English term and language and then enter the new translation below.
</p>

  <form action="/new_translation" method="post">
    <select name="term_id" width="50" required>
      <% Term.all.each do |t| %>
        <option value="<%= t.id %>"><%= t.id %> - <%= t.term %></option>
      <% end %>
    </select>
    <br><br>
    <select name="lang_id" width="50" required>
      <% Lang.all.each do |l| %>
        <option value="<%= l.id %>"><%= l.id %> - <%= l.lang %></option>
      <% end %>
    </select>
    <br><br>
    <strong>Translation:</strong><br>
    <input type="text" name="translation" required>
    <br><br>

    <input type="submit" value="Submit" class="btn">
  </form>
<br><br><a href="/y3d8jedu38zm10lt">Admin Home</a>