<h1>Translation Complete!</h1>
<h2>Just copy and paste the translations below into your localization files.</h2>
<hr>
<h3><%= @term %></h3>
<hr>
<p>
   <strong>French:</strong> <%= @name %><br>
   <strong>Spanish:</strong> <%= @cost %><br>
   <strong>German:</strong> <%= @serial %><br>
   <strong>Italian:</strong> <%= @quantity %><br>
</p>
<br><a href="http://localhost:4567">&gt&gtHome&lt&lt</a>